body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #252525;
    display: flex;
    justify-content: center;
}

/* Contenedor Principal */
.container {
  margin-top: 80px;  /* Ajusta el valor según el tamaño del navbar */
  margin-bottom: 20px;
  width: 73%;
  height: auto;
  padding: 20px;
  border: solid white 3px;
  border-radius: 5px;
}

/* Lineas horizontales */
hr{
  height: 2px;
  background-color: white;
  border: none;
}

/* Titulo */
h1{
  text-align: center;
}
    
h2{
  text-align: center;
}
    
p{
  text-align: center;
  margin-inline: 75px;
}

.introduction{
  margin-bottom: 35px;
}
    
/* Contenedor del menu */
.menu{
  margin-top: 40px;
  border: solid white 3px;
  border-radius: 5px;
  height: 150px;
}

.container-menu{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*----------------------------------------*/
.btn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: white;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: white;
    transition: 0.5s ease;
  }
  
  .btn:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: white;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  .btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }